
.DS_Store
._*
*.bak
*.cache
*.log
*.lock
*.new
*.old
*.out
*.swap
*.swp
*.sublime-project
*.sublime-workspace
*.txt

.git/
.idea/
.vscode/
bin/
vendor/

models/default/models.go
models/default/queries.go
settings.hcl
