debug = true

app {
    name = "xgen"
    version = "3.1.4"
}

log {
    log_level = "debug"
    log_dir = "./logs"
}

reverse "golang" {
    output_dir = "./models"
    name_space = "github.com/azhai/xgen/models"
    table_prefix = "*"
    exclude_tables = [ "*_bak", "*_test" ]
}

conn "sqlite" "default" {
    path = "/tmp/test.db"
    log_file = "./logs/$KEY.log"
}

conn "redis" "cache" {
    host = "127.0.0.1"
    database = 0
    password = ""
}

conn "flashdb" "embed" {
    path = "/tmp/flashdb"
}
